*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    min-width: 1250px;
    max-width: 2000px;
    width: auto;
    scroll-behavior: smooth;
}

#header{
    height: 250px;
    width: 100%;
    background-image: linear-gradient(45deg, lightgreen, rgb(151, 212, 239), lightgreen);
    border-bottom: black 10px solid;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    user-select: none;
}

#header img{
    height: 200px;
    border-radius: 100%;
    border: solid black 5px;
    box-shadow: 0 0 50px white;
}

#name{
    font-family: monospace;
    font-weight: bold;
    font-size: 75px;
    color: black;
    border-bottom: black solid 10px;
    border-bottom-left-radius: 25%;
    padding-bottom: 15px;
    border-bottom-right-radius: 25%;
    -webkit-text-stroke: 4px rgb(33, 33, 33);
    text-shadow: 0 0 25px black;
}

#menu{
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
}
#menu *{
    color: white;
    text-decoration: none;
    background-color: darkblue;
    padding: 7.5px;
    border-bottom: rgb(11, 7, 37) solid 5px;
    border-left: rgb(103, 107, 154) solid 5px;
    border-top-right-radius: 10px;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.75rem;
    box-shadow: 0 0 50px lightblue;
}
#menu *:hover{
    background-color: rgb(1, 1, 169);
}
#menu *:active{
    background-color: rgb(0, 0, 212);
}
#hero{
    --background-color: red;
    height: 600px;  
    width: 100%;
    display: flex;
    align-items: center;
    padding: 25px;
    justify-content: space-evenly;
    --background-color: khaki;
}
#hero img{
    width: 650px; 
    border-radius: 25px;
    border: 10px solid black;
    box-shadow: 0 0 25px blue;
}
#description{
    width: 500px;
    height: 250px;
    border-left: solid black 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    padding: 10px;
}
#calltoaction{
    width: 300px;
    height: 125px;
    background-color: white;
    outline: 5px solid red;
    box-shadow: 0 0 25px black;
    border: 2.5px solid black;
    border-radius: 10px;
    position: absolute;
    top: 325px;
    left: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    user-select: none;
    cursor: pointer;
    font-family: monospace;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}
#calltoaction:hover{
    background-color: rgb(255, 221, 221);
}
#calltoaction:active{
    background-color: rgb(255, 185, 185);
}
#footer{
    background-color: black;
    margin-top: 75px;
    width: 100%;
    height: 75px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;;
}
#omoss{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 800px;
    background-color: lightblue;
    background-image: linear-gradient(white, lightgreen);
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 10px solid black;
    text-shadow: 0 0 5px white;
}
#text{
    width: 1250px;
    margin: 10px;
}
#omoss h1{
    font-weight: bold;
    font-family: sans-serif;
}
#omoss p{
    font-size: 2.25rem;

}
#styrkor{
    border-bottom: solid black 10px;
    padding: 10px;
    text-align: center;
    width: 700px;
    border-radius: 10px;
    text-shadow: 0 0 20px white;
}

#tjanster{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.25rem;
    margin-top: 50px;
}
#tjanster h1{
    font-family: sans-serif;
    font-weight: bold;
}
#icons{
    --background-color: red;
    width: 800px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    margin-bottom: 20px;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    font-family: sans-serif;
    text-align: center;
    border: 5px solid black;
    border-radius: 10px;
    font-weight: bold;
    background-color: rgb(224, 224, 224);
    box-shadow: 0 0 50px green;
}
.icon img{
    height: 175px;
}
#kontakt{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
    flex-direction: column;
}
#kontakt form{
    display: flex;
    align-items: start;
    justify-content: baseline;
    flex-direction: column;
    background-color: khaki;
    padding: 20px;
    margin-top: 25px;
    border: 7.5px solid black;
    border-radius: 10px;
    box-shadow: 0 0 50px green;
}
#kontakt form *{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
#kontakt h1{
    width: 600px;
    text-align: center;
    margin: 25px;
}
#kontakt *{
    font-family: sans-serif;
}
#send{
    background-color: green;
    color: white;
    width: 100px;
    height: 50px;
    font-size: 1.75rem;    
    border: 5px solid black;
    left: auto;
    cursor: pointer;
}
#send:hover{
    background-color: rgb(3, 147, 3);
}
#send:active{
    background-color: rgb(7, 189, 7);
}
#blog{
    width: 100%;
    height: 250px;
    text-align: center;
}
#messagebar{
    height: 100px;
    width: 300px;
}